STAGE={{project[project_name].envv|default("envv")}}
MYSQL_ROOT_PASSWORD=pass
MYSQLVER=57
DBPORT={{project[project_name].dbport}}
ADMINPORT={{project[project_name].adminport}}
WEBPORT={{project[project_name].ports}}
