STAGE={{envv | default("development")}}
MYSQL_ROOT_PASSWORD={{ mysql_root_pass | default('pass') }}
APP_PORT={{ app_port | default('8888') }}
SERVICE_PORT={{ service_port | default('3333') }}
MON_PORT={{ mon_port | default('10555') }}